<div id="biohead"><center><h1>About Gaby</h1></center>
</div>


<div id="biopic">
<a href="http://tinypic.com?ref=120tu9w" target="_blank"><img src="http://i43.tinypic.com/120tu9w.jpg" width=250></a> <br><br>
</div>

<div id="bio">
I started making jewelry as a hobby 8 years ago, which fortunately for me has turned into a great business! I started Seville Jewelry and beautiful handcrafted jewelry- that expresses who you are and makes a statement. Hopefully it will touch your soul and lift your spirit as much as it does for me when I create!

My pieces are one of a kind and are ready for shipping. If you are looking for something style/color in particular and aren't finding it...contact me.

I hope that you enjoy looking through my shop.
</div>
<br>